.cell{
  height: 80px;
  width: 80px;
  background-color: red;
  border-style: solid;
  border-color: black;
}


.playerOneMove{
  background-color: blue;
}

.playerTwoMove{
  background-color: white;
}
